# GoldenKingdom ignores
public/svg/svg-*.zip
node_modules/
.DS_Store

# DTA ignores
.DTA_release_png/
*.log

# Dependencies
/node_modules

# Next.js build output
/.next/
/out/

# Other
.DS_Store
*.pem

